table tr > td {
  text-align: center !important;
}

.form-row.align-items-center .col-auto {
  display: inline-block;
  margin: 10px;
}

svg {
  height: 150px;
}

td:first-of-type > div {
  height: 145px;
  width: 200px;
}

@keyframes slide-right {
  from {
    transform: translate(-100%, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes slide-right {
  from {
    transform: translate(-100%, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

tbody tr {
  -webkit-animation: slide-right 1s ease-out 0s forwards;
  animation: slide-right 1s ease-out 0s forwards;
}

th {
  text-align: center;
}

.preloader-wrapper {
  margin-left: 50%;
  margin-top: 30%;
  margin-bottom: 30%;
}

.sort-container i {
  display: block;
  cursor: pointer;
}

.back-button-wrapper a {
  display: flex;
}

.back-button-wrapper span {
  line-height: 22px;
}

.planet-item-description {
  font-size: 19px;
  font-weight: bold;
}

.card-title {
  border-bottom: solid 1px;
}

.card-title i {
  float: right;
}

.collection.with-header .preloader-wrapper {
  margin-top: 1%;
  margin-bottom: 1%;
}
.collection.with-header .preloader-wrapper.big {
  width: 40px;
  height: 40px;
}

.no-found {
  padding-left: 19px;
}

.nav-wrapper {
  display: flex;
  background-color: #26a69a;
}

.nav-wrapper .breadcrumb {
  background-color: transparent;
}

.disabled-link {
  pointer-events: none;
}

.breadcrumb {
  padding: 0 0 0 15px;
}

.page-footer .white-text {
  display: inline-flex;
}

.page-footer .white-text > span {
  line-height: 21px;
}

.page-footer {
  background-color: #26a69a;
  margin-top: 10px;
}

.page-footer .container .row .col {
  padding-left: 0;
}

.email-footer {
  margin-left: 10px;
}

.item-value {
  margin-left: 10px;
}

.collection-item {
  display: flex;
}

.residents-item {
  margin-left: 10px;
}

.back-button-wrapper {
  display: flex;
  justify-content: flex-end;
}
